*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

/* Body Styles: */

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	font-family: Verdana, Helvetica, sans-serif;
	background-color: blue;
	background-image: url(../images/bck4.png);
	
}

/* Hyperlink Styles: */

a, a:visited {
	text-align: center;
	color:#0196e3;
	text-decoration:none;
	outline:none;
	padding:0;
	margin:0;
}



a:hover{
	font-weight: bolder;
}

a img{
	border:none;
	padding: 0;
}

/* Headings: */



h1,h2,h3{
	font-family:Verdana, Helvetica, sans-serif;
	/*text-shadow:0 1px 1px black;*/
	}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family: mario, Helvetica, sans-serif; 
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
	text-shadow: clear;
}
.go_up {
	float: right; 
	padding:0.2em;
	margin:0;
	text-align: center;
	border: 2px solid #0196e3;
	color:#0196e3;
    -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;

}
p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:white;
	border-bottom:1px solid white;
	margin:1em 0;
	overflow:hidden;
}

/* Article Style */

article{
	/*background-color:#213E4A;*/
	background-color: #97DDFE;
	margin:3em 0;
	padding:1.3em;
	color:#1a1a1a;
   text-shadow:0 0.01em 0 #1a1a1a;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:white;
	border-bottom-color:white;
	margin:1.3em 0;
}

article .articleBody {
	border-bottom-color:yellow;
	padding: 0;
}



/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */
nav{
	background-image: -webkit-linear-gradient(30deg,#0196e3 0%,#01aafe 10%,#1bb2fe 20%,#34bbfe 30%,#67ccfe 40%,#34bbfe 60%,#1bb2fe 70%,#01aafe 80%,#0196e3 90%);
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
    border:1px solid #FCFCFC;
	-moz-box-shadow:0 1px 1px #f2f2f2;
	-webkit-box-shadow:0 1px 1px #f2f2f2;
	box-shadow:0 1px 1px #f2f2f2;
}

nav ul li{
	display:inline;
}

nav ul li a, 
nav ul li a:visited{
	color:white;
	display:block;
	float:left;
	font-size:1.1em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px black;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color: #97DDFE;
}

header h4 a:visited{
	color:white;
	display:block;
	float:left;
	font-size:1.1em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px black;
	text-transform:uppercase;
}

header h4 a:hover{
	text-decoration:none;
	background-color: #97DDFE;
	font-style: italic;
	}


nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#shadow {text-shadow: 3px 3px black;}

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

#mario {
	font-family: mario, Helvetica, sans-serif; 
	text-shadow: 3px 3px black;
	color: white;
	}


/* Figure Style */

figure{
	padding: 0px;
	border: 2px solid white;
	float:right;
	height:300px;
	margin-left:2em;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}


@font-face {
     font-family: mario;
     src: url(../Font/tlpsmb.ttf);
}

/* Footer styling: */

footer{
	
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

footer .line{
	margin:2em 0;
}

footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a,footer a:visited{
	color:white;
	background-color:blue;
	text-shadow: 2px 2px black;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:red;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
